results/variants/codon_variant_table.csv filter=lfs diff=lfs merge=lfs -text
results/counts/variant_counts.csv filter=lfs diff=lfs merge=lfs -text
results/expression_meanFs/expression_meanFs.csv filter=lfs diff=lfs merge=lfs -text
results/expression_meanFs/expression_meanFs_homologs.csv filter=lfs diff=lfs merge=lfs -text
results/binding_Kds/binding_Kds.csv filter=lfs diff=lfs merge=lfs -text
results/binding_Kds/binding_Kds_homologs.csv filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=strip-notebook-metadata diff=strip-notebook-metadata
results/variants/codon_variant_table_Wuhan_Hu_1.csv filter=lfs diff=lfs merge=lfs -text
results/variants/codon_variant_table_B1351.csv filter=lfs diff=lfs merge=lfs -text
results/variants/codon_variant_table_E484K.csv filter=lfs diff=lfs merge=lfs -text
results/variants/codon_variant_table_N501Y.csv filter=lfs diff=lfs merge=lfs -text
results/binding_Kd/bc_binding.csv filter=lfs diff=lfs merge=lfs -text
results/expression_meanF/bc_expression.csv filter=lfs diff=lfs merge=lfs -text
