.*
!.gitconfig
!.gitignore
!.gitattributes
*.pyc
*.log
*.Log
*.out

src/
env/

results/*
!results/summary

!results/variants
results/variants/*
!results/variants/codon_variant_table_*.csv

!results/counts
results/counts/*
!results/counts/variant_counts.csv

!results/expression_meanF
results/expression_meanF/*
!results/expression_meanF/bc_expression.csv

!results/binding_Kd
results/binding_Kd/*
!results/binding_Kd/bc_binding.csv

!results/final_variant_scores
results/final_variant_scores/*
!results/final_variant_scores/final_variant_scores.csv

!results/epistatic_shifts
results/epistatic_shifts/*
!results/epistatic_shifts/JSD_versus_Wuhan1_by_target.csv
!results/epistatic_shifts/JSD_versus_Wuhan1_EXPRESSION_by_target.csv
